[submodule "webui"]
	path = webui
	url = ../deemix-webui
[submodule "deemix"]
	path = deemix
	url = ../deemix
[submodule "server"]
	path = server
	url = ../server
[submodule "spotify-web-api-node"]
	path = spotify-web-api-node
	url = ../spotify-web-api-node